.logo {
    margin: 30% auto 20px auto;
    width: 75%;
    display: block;
}
.logo-description {
    font-size: 12px;
    text-align: center;
    margin-bottom: 50px;
}
#loginButton {
    margin-top: 30px;
}
.regLink {
    margin-top: 50px;
    font-weight: 100;
    font-size: 14px;
}
#registerButton {
    margin-top: 30px;
}